fastapi
uvicorn
sqlalchemy
pymysql
python-dotenv
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
cryptography
python-jose>=3.3.0
pydantic[email]>=1.10.0
line-bot-sdk
fastapi-mail
python-multipart
tensorflow>=2.12.0
pyzbar
openai
pyngrok
# paddleocr[all]
# opencc-python-reimplemented
# shapely
# scikit-image
# pyclipper
# lmdb
# tqdm
numpy
# rapidfuzz
# opencv-python
# opencv-contrib-python
# cython
# Pillow
# pyyaml
requests
# albumentations
# to be compatible with albumentations
# albucore
# packaging
qreader