fastapi
uvicorn
sqlalchemy
pymysql
python-dotenv
passlib[Bcrypt]>=1.7.4
cryptography
python-jose>=3.3.0
pydantic[email]>=1.10.0
line-bot-sdk
fastapi-mail
python-multipart
pillow
opencv-python
numpy
pyzbar
opencc-python-reimplemented
openai==0.28
pyngrok
paddleocr>=2.0.1
paddlepaddle==3.0.0b2 -f https://www.paddlepaddle.org.cn/packages/stable/cpu