fastapi
uvicorn
sqlalchemy
pymysql
python-dotenv
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
cryptography
python-jose>=3.3.0
pydantic[email]>=1.10.0
line-bot-sdk
fastapi-mail
python-multipart
pillow
opencv-python
numpy
tensorflow>=2.12.0
pyzbar
opencc-python-reimplemented
openai
requests
pyngrok
paddlepaddle==3.1.0 -f https://www.paddlepaddle.org.cn/packages/stable/cpu/
paddleocr
qreader