@use "@/styles/base/variables" as *;

.wrap {
  margin: 14vh 2vw 0 22vw;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .logout {
    position: absolute;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: $regular-size;
    color: var(--text-color);
    border: solid 2px rgba($color: #000000, $alpha: 0);
    background-color: var(--primary-color);
    color: $main-white;
    right: 2vw;
    bottom: 7vh;
  }
}
