@use "@/styles/base/variables" as *;

.settingWrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 5vh;

  .itemWrap {
    display: flex;
    gap: 20px;
    flex-direction: column;

    .item {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 20px;

      .green,
      .yellow,
      .red {
        width: 30px;
        height: 30px;
        border-radius: 10px;
      }

      .green {
        background-color: var(--point-green);
      }

      .yellow {
        background-color: var(--point-yellow);
      }

      .red {
        background-color: var(--point-red);
      }
    }
  }

  .button {
    display: flex;
    gap: 5%;

    .edit,
    .editSure,
    .cancel {
      text-wrap: nowrap;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: $regular-size;
      color: var(--text-color);
    }

    .cancel,
    .edit {
      background-color: var(--background-color);
      border: solid 2px var(--second-color);
    }

    .editSure {
      border: solid 2px rgba($color: #000000, $alpha: 0);
      background-color: var(--primary-color);
      color: $main-white;
    }
  }
}
