@use "@/styles/base/variables" as *;

.detailBox,
.partialBox {
  margin: 2% 0;
  padding: 5% 0;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--list-bg);
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.1);

  .toggle {
    color: $main-white;
    font-weight: 500;
    padding: 3%;
    border-radius: 50%;
  }

  .detail {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 70%;
    height: fit-content;

    .item {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;

      p {
        color: var(--text-color);
      }

      .details {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .info,
      .partial {
        display: flex;
        gap: 20px;
        width: 100%;
        align-items: center;

        p {
          font-size: $medium-size;
        }

        .edit,
        .delete {
          padding: 5px;
          border-radius: 50%;
        }

        .edit {
          margin-right: 10px;
          border: 1px var(--point-yellow) solid;
          color: var(--point-yellow);
        }

        .delete {
          border: 1px var(--point-red) solid;
          color: var(--point-red);
        }
      }

      .reject {
        display: flex;
        gap: 20px;
        width: 100%;
        align-items: center;

        span {
          color: var(--hover-color);
        }

        p {
          font-size: $medium-size;
        }
      }
    }
  }
}

.detailBox {
  .toggle {
    background-color: var(--primary-color);
  }

  .item {
    gap: 15px;
  }
}

.partialBox {
  align-items: center;

  .toggle {
    background-color: var(--second-color);
  }

  .item {
    gap: 1.2rem;
  }

  .partial {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
