.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin-top: 3%;

  .iconWrap {
    border-radius: 20px;
    padding: 15px 15px 12px;
    color: var(--text-light-more-color);
  }

  .focus {
    background-color: var(--background-light-color);
    box-shadow: 0px 3px 4px 0px var(--input-box-shadow);
    color: var(--text-color);
  }
}
