@use "@/styles/base/variables" as *;

.wrap {
  display: flex;
  margin: 14vh 2vw 0 22vw;
  gap: 20px;

  .rightArea {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vw;
  }

  .chartArea {
    display: flex;
    gap: 1.5vw;

    .title {
      position: absolute;
      top: 8vh;
      font-weight: bold;
      font-size: $large-size;
      letter-spacing: 1px;
    }

    .total {
      width: fit-content;
      background-color: var(--background-light-color);
      display: flex;
      padding: 20px;
      border-radius: 20px;
      box-shadow: var(--second-color) 0px 3px 3px;
      align-items: center;
    }

    .topThree {
      width: fit-content;
      background-color: var(--background-light-color);
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-radius: 20px;
      box-shadow: var(--second-color) 0px 3px 3px;
      gap: 10px;

      .charts {
        display: flex;
      }
    }
  }

  .budget {
    position: relative;
    width: 21vw;
    background-color: var(--background-light-color);
    height: 100%;
    border-radius: 20px;
    box-shadow: var(--second-color) 0px 3px 3px;
    padding: 20px;
    box-sizing: border-box;

    .budgetTable {
      width: 100%;

      tr {
        line-height: 2.5;
      }

      td svg {
        vertical-align: middle;
      }

      .tableThead {
        width: 100%;

        th {
          width: 33.3%;
          font-weight: bold;
        }
      }

      .tableTbody {
        width: 100%;
        text-align: center;

        .edit,
        .delete {
          margin-right: 10px;
          border-radius: 50%;
          padding: 5px;
          color: #fff;
          transition: ease-in 0.1s;

          &:hover {
            transform: scale(1.1);
          }
        }

        .edit {
          background-color: var(--point-yellow);
        }

        .delete {
          background-color: var(--point-red);
        }
      }
    }

    .addBudget {
      background-color: var(--primary-color);
      padding: 12px;
      color: #fff;
      border-radius: 50%;
      position: absolute;
      bottom: 30px;
      right: 30px;
      transition: ease-in 0.1s;

      &:hover {
        background-color: var(--hover-color);
        transform: scale(1.1);
      }
    }
  }

  .aiSuggest {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    background-color: var(--background-light-color);
    width: 30%;
    border-radius: 20px;
    box-shadow: var(--second-color) 0px 3px 3px;

    .aiMessage {
      margin-top: 20px;
      background-color: var(--background-light-more-color);
      padding: 30px 25px;
      letter-spacing: 2px;
      line-height: 25px;
      font-size: $medium-size;
      border-radius: 20px;
    }
  }

  .pending {
    width: 60%;
    background-color: var(--background-light-color);
    border-radius: 20px;
    padding: 30px 20px;
    box-shadow: var(--second-color) 0px 3px 3px;

    .guide {
      display: flex;
      align-items: center;

      p {
        font-size: $large-size;
        letter-spacing: 1px;
      }

      button {
        background-color: var(--primary-color);
        color: #fff;
        font-size: $regular-size;
        padding: 5px 15px;
        border-radius: 50px;
        margin-left: 10px;
      }
    }
  }
}
