@use "@/styles/base/variables" as *;

.wrap {
  display: flex;
  margin: 14vh 2vw 0 25vw;
  gap: 30px;
  flex-direction: column;

  .dayWrap {
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--list-bg);
    box-shadow: var(--second-color) 0px 3px 5px;
  }
}
