@use "@/styles/base/variables" as *;

.wrap {
  display: flex;
  margin: 10vh 2vw 0 23vw;
  gap: 10px;
  flex-direction: column;

  .infoArea {
    display: flex;
    flex-direction: row;
    align-items: center;

    .infoItem {
      width: fit-content;
      height: fit-content;
      position: relative;
      padding-top: 40px;
    }

    .title {
      font-weight: bold;
      position: absolute;
      top: 0;
    }
  }
}
